body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 50px;
}

#game-container {
    max-width: 600px;
    margin: 0 auto;
}

#hangman-container {
    margin-top: 20px;
}

#letters-container {
    margin-top: 20px;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#play-again {
    display: none;
}
