body {
    background-color: #33ACFF;
    margin: 0;
}

.titulo {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.usuario {
    display: flex;
}

.user {
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

#nameUser {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

.juego {
    height: 800px;
    width: 100%;
}

.penjat {
    height: 540px;
    width: calc(100% - 40px);
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1px);
}

.tematica {
    display: flex;
    justify-content: end;
}

.temaTematica {
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

#tema {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

.letras {
    height: 240px;
    width: calc(100% - 40px);
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.abc1 {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abc2 {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abc3 {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letra {
    height: 40px;
    width: 40px;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}